.p-Home.TextBox18{
    
            background: linear-gradient(to right,
                    rgb(227, 100, 227),
                   
                    rgb(205, 165, 71),
                    red,
                    orange,
                    );
                
                    -webkit-background-clip: text;
            color: transparent;
    }
   

